{% extends "base.html" %}

{% block content %}

<div class="container">

<h1>Poloniex lender manager</h1>

{% for balance in balances %} 
{{ balance }}
{% endfor %}

<pre>{{ balances }}</pre>

<p>Create loan offer</p>
<form action="/loans" method="post">
  <div class="form-group">
      <label for="currency-input">Currency</label>
      <input id="currency-input" class="form-control" type="text" name="currency" value="XMR" />
  </div>
  
  <div class="form-group">
      <label for="amount-input">Amount</label>
      <input id="amount-input" class="form-control" type="text" name="amount" />
  </div>

  <div class="form-group">
      <label for="duration-input">Duration</label>
      <div class="input-group">
        <input id="duration-input" class="form-control" type="text" name="duration" />
         <div class="input-group-addon">Days</div>
    </div>
  </div>

  <div class="form-group">
      <label for="duration-input">Auto-renew</label>
      <select class="form-control" name="auto-renew">
        <option value="1">On</option>
        <option value="0">Off</option>
      </select>
  </div>  
  
  <div class="form-group">
    <label for="lending-rate-input">Lending-rate</label>
    <div class="input-group">
      <input type="text" class="form-control" id="lending-rate-input" placeholder="0.035" name="lending-rate">
      <div class="input-group-addon">%</div>
    </div>
  </div>

  <button type="submit" class="btn btn-default">Create loan offer</button>
</form>

<h3>Open loan orders</h3>


<table class="table table-striped">
  <tr>
    <th>Coin<th>
    <th>Rate<th>
    <th>Yearly rate<th>
    <th>Amount<th>
    <th>Duration<th>
    <th>Auto-renew<th>
    <th>Date<th>
    <th>Cancel<th>
  </tr>

  {% for order in open-orders %}
  <tr>
    <td>{{ order.coin  }} <td>
    <td>{{ order.rate  }}%<td>
    <td>{{ order.yearly-rate  }}%<td>
    <td>{{ order.amount  }} <td>
    <td>{{ order.duration  }} <td>
    <td><a href="#">{{ order.auto-renew  }}</a> <td>
    <td>{{ order.date  }} <td>
    <td><a href="#">Cancel</a><td>
  </tr>
  {% endfor %}
</table>

<h3>Active loans</h3>


<table class="table table-striped">
  <tr>
    <th>Coin<th>
    <th>Rate<th>
    <th>Yearly rate<th>
    <th>Amount<th>
    <th>Duration<th>
    <th>Auto-renew<th>
    <th>Fees<th>
    <th>Type<th>
    <th>Date<th>
  </tr>

  {% for loan in active-loans %}
  <tr>
    <td>{{ loan.currency  }} <td>
    <td>{{ loan.rate  }}%<td>
    <td>{{ loan.yearly-rate  }}%<td>
    <td>{{ loan.amount  }} <td>
    <td>{{ loan.duration  }} <td>
    <td><a href="#">{{ loan.auto-renew  }}</a> <td>
    <td class="success">{{ loan.fees }} <td>
    <td>{{ loan.type }} <td>
    <td>{{ loan.date  }} <td>
   </tr>
  {% endfor %}
</table>
  
</div>

{% endblock %}
